<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <%= link_to "Create Secret", new_secret_path , {:class => 'btn btn-success'} %>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Secret Title</th>
                    <th>Secret Content</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @secrets.each do |secret| %>
                    <tr>
                        <td><%= secret.title %></td>
                        <td><%= secret.content %></td>
                        <td>
                            <div class="btn-group">
                                <%= link_to "Show", secret_path(secret), {:class => 'btn btn-primary btn-xs'} %>
                                <%= link_to "Edit", edit_secret_path(secret), {:class => 'btn btn-info btn-xs'} %>
                                <%= link_to "Delete", secret_path(secret), {:class => 'btn btn-danger btn-xs', :method => "delete", :data => {confirm: "This can not be undone"}} %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>        
    </div>
</div>